<section class="container">
  <div class="row">
     <div class="card-deck">
<div class="card">
  <div class="card-body">
    <h2>{{.volunteer.heading}}</h2>
    {{.volunteer.text | markdownify}}
  </div>
  <div class="card-footer">
    <img src="img/placeholder.jpg" data-src="{{.volunteer.image}}" width="540" height="405" alt="Geraldine, the founder of Friends of People with Disabilities, standing outside the disability centre" class="img-fluid js-lazy-image">
    <a href="/volunteer/" class="btn">Learn about volunteering</a>
  </div>
</div>
<div class="card">
	<div class="card-body">
		<h2>{{.donate.heading}}</h2>
		{{.donate.text | markdownify}}
	</div>
	<div class="card-footer">
		<img src="img/placeholder.jpg" data-src="{{.donate.image}}" width="540" height="405" alt="" class="img-fluid js-lazy-image">
		<a href="/donate/" class="btn">Donate now</a>
	</div>
</div>
</div>
</div>
</section>
