<h2>Get in touch</h2>

  <form name="contact" method="post" netlify>
        <fieldset class="form-group">
          <label for="name">Name</label>
          <input type="text" id="name" name="name" placeholder="Name" class="form-control">
        </fieldset>
        <fieldset class="form-group">
          <label for="email">Email</label>
          <input type="email" id="email" name="email" placeholder="Email" class="form-control">
        </fieldset>
    <fieldset class="form-group">
      <label for="message">Your message</label>
      <textarea id="message" name="message" placeholder="Your message" rows="8" cols="80" class="form-control"></textarea>
    </fieldset>
      <button type="submit" class="btn">Submit</button>
  </form>
