<h2>Get in touch</h2>

  <form name="contact" method="post" netlify>
        <fieldset>
          <input type="text" id="name" name="name" placeholder="Name" class="w-100 mb2">
          <label for="name" hidden>Name</label>
        </fieldset>
        <fieldset>
          <input type="email" id="email" name="email" placeholder="Email" class="w-100 mb2">
          <label for="email" hidden>Email</label>
        </fieldset>
    <fieldset>
      <textarea id="message" name="message" placeholder="Your message" rows="8" cols="80" class="w-100"></textarea>
      <label for="message" hidden>Your message</label>
    </fieldset>
      <button type="submit" class="btn w-100 w-auto-ns raise">Submit</button>
  </form>
