<footer class="bg-black ph3 pv4 white">

	<div class="mw7 center pt3">

		<div class="measure-narrow center mb4">

			<p class="f3 lh-title light-gray b tc mb2">Subscribe to our mailing list</p>
			<p>Subscribe to our newsletter to receive the latest updates on our work.</p>

			{{ partial "newsletter-form" . }}

		</div>

		<div class="flex-ns justify-between">

			<nav aria-label="quick links">
				<ul class="mb3">
					<li><a href="/" class="link">Home</a></li>
					<li><a href="/volunteer" class="link">Volunteer</a></li>
					<li><a href="/donate" class="link">Donate</a></li>
					<li><a href="/news" class="link">News</a></li>
					<li><a href="/contact" class="link">Contact</a></li>
				</ul>
			</nav>

		</div>
	</div>

</footer>

<script type="application/ld+json">
{
    "@context":"https://schema.org",
    "@graph":
    [
    {
        "@type":"Organization",
        "@id":"{{ $.Site.BaseURL }}/#organization",
        "name":"{{ $.Site.Title }}",
        "url":"{{ $.Site.BaseURL }}",
        "description": "We’re Friends of People with Disabilities, a charity based in Kampala, Uganda which cares for children with disabilities. We care for 20 children.",
        "founders":
        {
            "@type": "Person",
            "name": "Geraldine Misanvu Fancy"
        },
        "foundingDate": "2002",
        "address": {
            "@type": "PostalAddress",
            "streetAddress": "PO Box  5731",
            "addressLocality": "Kampala",
            "addressCountry": "UG"
        },
        "logo":
        {
            "@type":"ImageObject",
            "@id":"{{ $.Site.BaseURL }}/#logo",
            "url":"{{ $.Site.BaseURL }}/logo.png",
            "caption":"{{ $.Site.Title }}"
        },
        "image":{
            "@id":"{{ $.Site.BaseURL }}/#logo"
        }
    },
    {
        "@type":"WebSite",
        "@id":"{{ $.Site.BaseURL }}/#website",
        "url":"{{ $.Site.BaseURL }}",
        "name":"{{ $.Site.Title }}",
        "publisher":{
            "@id":"{{ $.Site.BaseURL }}/#organization"
        }
    }]
}
</script>

<script src="/app.js"></script>
