<footer class="container">

	<div class="row">

		<div class="col-md-12">

			<h2>Subscribe to our newsletter</h2>
			<p>Sign up to be updated with our latest news and developments.</p>

			{{ partial "newsletter-form" . }}

			<nav aria-label="quick links">
				<ul class="list-unstyled">
					<li><a href="/" class="link">Home</a></li>
					<li><a href="/volunteer/" class="link">Volunteer</a></li>
					<li><a href="/donate/" class="link">Donate</a></li>
					<li><a href="/news/" class="link">News</a></li>
					<li><a href="/contact/" class="link">Contact</a></li>
				</ul>
			</nav>
		</div>
	</div>

</footer>

<script src="/js/nav.js"></script>
<script type="module">
    import LazyLoad from "/js/lazyload.js";
    LazyLoad.init();
  </script>
<link rel="stylesheet" href="/tempnav.css">

{{ partial "schema" . }}
