<footer class="container">

	<div class="row">

		<div class="col-md-12">

			<h2>Subscribe to our newsletter</h2>
			<p>Sign up to be updated with our latest news and developments.</p>

			{{ partial "newsletter-form" . }}

			<nav aria-label="quick links">
				<ul class="list-unstyled">
					<li class="menu-item"><a href="/">Home</a></li>
					<li class="menu-item"><a href="/volunteer/">Volunteer</a></li>
					<li class="menu-item"><a href="/donate/">Donate</a></li>
					<li class="menu-item"><a href="/news/">News</a></li>
					<li class="menu-item"><a href="/contact/">Contact</a></li>
				</ul>
			</nav>
		</div>
	</div>

</footer>

<script src="/js/nav.js"></script>
<script type="module">
    import LazyLoad from "/js/lazyload.js";
    LazyLoad.init();
  </script>

{{ partial "schema" . }}
