		<nav class="navbar" id="navbar">
			<div class="container">
				<button type="button" class="navbar-toggle collapsed" aria-expanded="false" aria-controls="navbar" aria-label="menu toggle button">
					<span> </span>
					<span> </span>
				</button>
				<div class="collapse navbar-collapse">
					 <div><ul class="nav navbar-nav">
						<li class="menu-item"><a href="/">Home</a></li>
						<li class="menu-item"><a href="/volunteer/">Volunteer</a></li>						
						<li class="menu-item"><a href="/donate/">Donate</a></li>
						<li class="menu-item"><a href="/news/">News</a></li>						
						<li class="menu-item"><a href="/contact/">Contact</a></li>
						<li class="menu-item ad2hs-prompt"><button onclick="install()">Install our free app</button></li>
					</ul></div>
				</div>
			</div>
		</nav>
