<nav class="navbar" id="navbar">
	<div class="container">
		<button type="button" class="navbar-toggle collapsed" aria-expanded="false" aria-controls="navbar" aria-label="menu toggle button">
			<span> </span>
			<span> </span>
		</button>
		<div class="collapse navbar-collapse">
			<ul class="nav navbar-nav">
				<li><a href="/">Home</a></li>
				<li><a href="/shop/">Volunteer</a></li>
				<li><a href="/donate/">Donate</a></li>
				<li><a href="/news/">News</a></li>				
				<li><a href="/contact/">Contact</a></li>
			</ul>
		</div>
	</div>
</nav>
