<script type="application/ld+json">
{
    "@context":"https://schema.org",
    "@graph":
    [
    {
        "@type":"Organization",
        "@id":"{{ $.Site.BaseURL }}/#organization",
        "name":"{{ $.Site.Title }}",
        "url":"{{ $.Site.BaseURL }}",
        "founders":
        {
            "@type": "Person",
            "name": "Geraldine Misanvu Fancy"
        },
        "foundingDate": "2002",
        "address": {
            "@type": "PostalAddress",
            "streetAddress": "PO Box  5731",
            "addressLocality": "Kampala",
            "addressCountry": "UG"
        },
        "logo":
        {
            "@type":"ImageObject",
            "@id":"{{ $.Site.BaseURL }}/#logo",
            "url":"{{ $.Site.BaseURL }}/logo.png",
            "caption":"{{ $.Site.Title }}"
        },
        "image":{
            "@id":"{{ $.Site.BaseURL }}/#logo"
        }
    },
    {
        "@type":"WebSite",
        "@id":"{{ $.Site.BaseURL }}/#website",
        "url":"{{ $.Site.BaseURL }}",
        "name":"{{ $.Site.Title }}",
        "publisher":{
            "@id":"{{ $.Site.BaseURL }}/#organization"
        }
    }]
}
</script>
