<script type="application/ld+json">
{
    "@context":"https://schema.org",
    "@graph":
    [
    {
        "@type":"Organization",
        "@id":"{{ if getenv "CONTEXT" }}{{ cond (eq "production" (getenv "CONTEXT")) (getenv "URL") (getenv "DEPLOY_PRIME_URL") }}{{ else }}{{ $.Site.BaseURL }}{{ end }}/#organization",
        "name":"{{ $.Site.Title }}",
        "url":"{{ if getenv "CONTEXT" }}{{ cond (eq "production" (getenv "CONTEXT")) (getenv "URL") (getenv "DEPLOY_PRIME_URL") }}{{ else }}{{ $.Site.BaseURL }}{{ end }}",
        "founders":
        {
            "@type": "Person",
            "name": "Geraldine Misanvu Fancy"
        },
        "foundingDate": "2002",
        "address": {
            "@type": "PostalAddress",
            "streetAddress": "PO Box  5731",
            "addressLocality": "Kampala",
            "addressCountry": "UG"
        },
        "logo":
        {
            "@type":"ImageObject",
            "@id":"{{ if getenv "CONTEXT" }}{{ cond (eq "production" (getenv "CONTEXT")) (getenv "URL") (getenv "DEPLOY_PRIME_URL") }}{{ else }}{{ $.Site.BaseURL }}{{ end }}/#logo",
            "url":"{{ if getenv "CONTEXT" }}{{ cond (eq "production" (getenv "CONTEXT")) (getenv "URL") (getenv "DEPLOY_PRIME_URL") }}{{ else }}{{ $.Site.BaseURL }}{{ end }}/logo.png",
            "caption":"{{ $.Site.Title }}"
        },
        "image":{
            "@id":"{{ if getenv "CONTEXT" }}{{ cond (eq "production" (getenv "CONTEXT")) (getenv "URL") (getenv "DEPLOY_PRIME_URL") }}{{ else }}{{ $.Site.BaseURL }}{{ end }}/#logo"
        }
    },
    {
        "@type":"WebSite",
        "@id":"{{ if getenv "CONTEXT" }}{{ cond (eq "production" (getenv "CONTEXT")) (getenv "URL") (getenv "DEPLOY_PRIME_URL") }}{{ else }}{{ $.Site.BaseURL }}{{ end }}/#website",
        "url":"{{ if getenv "CONTEXT" }}{{ cond (eq "production" (getenv "CONTEXT")) (getenv "URL") (getenv "DEPLOY_PRIME_URL") }}{{ else }}{{ $.Site.BaseURL }}{{ end }}",
        "name":"{{ $.Site.Title }}",
        "publisher":{
            "@id":"{{ if getenv "CONTEXT" }}{{ cond (eq "production" (getenv "CONTEXT")) (getenv "URL") (getenv "DEPLOY_PRIME_URL") }}{{ else }}{{ $.Site.BaseURL }}{{ end }}/#organization"
        }
    }]
}
</script>
