{{ define "main" }}

{{ partial "jumbotron" (dict "imageUrl" "/img/hero.jpg" "title" "Latest news") }}

<section class="container">
  <div class="row">
    <div class="col-md-12">
      <p>See the latest news on our work at the disability centre.</p>
      <p>To receive updates when we publish new articles, subscribe to our newsletter using the form at the bottom of the page.</p>
    </div>
  </div>
  <div class="row">
      {{ range (.Paginator 4).Pages.ByPublishDate.Reverse }}
          <div class="col-md-12">
            {{ .Render "li"}}
          </div>
      {{ end }}
  </div>
  {{ partial "pagination" . }}
</section>

{{end}}
