{{ define "main" }}

{{ partial "jumbotron" (dict "imageUrl" .Params.image "title" .Title "subtitle" .Params.subtitle) }}

<main class="container">
 <article class="row">
    <div class="col-md-12">
    <h1 class="f2 lh-title b mb3">{{.Title}}</h1>
<button class="share-button"></button>
      <p>{{ .Date.Format "2 January 2006" }}</p>
      <p>{{ .ReadingTime }} minute read</p>
      <p>{{ .Description }}</p>
      {{ if .Params.image }}<img src="{{ .Params.image }}" alt="{{ .Title }}" class="img-fluid" />{{ end }}
      {{ .Content }}
    </div>
 </article>
</main>

{{ end }}
