*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-family: sans-serif;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

article, header, main, nav, section {
  display: block;
}

body {
  margin: 0;
  font-family: "Nunito Sans", "Segoe UI", Roboto, Arial, sans-serif;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.5;
  color: #676767;
  text-align: left;
  background-color: #f9fbf2;
}

footer {
  display: block;
  background-color: #2D2D2A;
  color: #fff;
  padding: 10px;
}

[tabindex="-1"]:focus {
  outline: 0 !important;
}

h1, h2, h3, h4 {
  margin-top: 1rem;
  margin-bottom: 0.5rem;
  font-weight: 700;
}

p {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

address {
  margin-bottom: 1rem;
  font-style: normal;
  line-height: inherit;
}

ol,
ul {
  margin-top: 0;
  margin-bottom: 1rem;
}

ul {
  list-style-type: square
}

strong {
  font-weight: bolder;
}

a {
  color: #676767;
  text-decoration: none;
  background-color: transparent;
  border-bottom: 2px solid #E55812;
}

a:hover {
  color: #E55812;
  text-decoration: none;
}

.background-eggshell {
  background-color: #EFE7DA;
}

img {
  vertical-align: middle;
  border-style: none;
}

label {
  display: inline-block;
  margin-bottom: 0.5rem;
}

button {
  border-radius: 0;
}

button:focus {
  outline: 1px dotted;
  outline: 5px auto -webkit-focus-ring-color;
}

input,
button
textarea {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

button,
input {
  overflow: visible;
}

button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
  text-transform: none;
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  padding: 0;
  border-style: none;
}

textarea {
  overflow: auto;
  resize: vertical;
}

h1, h2, h3, h4 {
  margin-bottom: 0.5rem;
  font-weight: 500;
  line-height: 1.2;
  color: #e55812;
}

h1 {
  font-size: 2.5rem;
}

.jumbotron h1, .jumbotron p {
  color: #fff;
  background-color: #e55812;
  padding: 5px;
  max-width: 55%;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.75rem;
}

h4 {
  font-size: 1.5rem;
}

.list-unstyled {
  list-style: none;
  padding: 0;
}

.img-fluid {
  max-width: 100%;
  height: auto;
}

.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}

.row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

.col-md-12 {
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
}

@media (min-width: 768px) {
  .col-md-12 {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
  }
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

.form-control {
  display: block;
  width: 100%;
  height: calc(1.5em + 0.75rem + 2px);
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

@media (prefers-reduced-motion: reduce) {
  .form-control {
    transition: none;
  }
}

.form-control::-ms-expand {
  background-color: transparent;
  border: 0;
}

.form-control:focus {
  color: #495057;
  background-color: #fff;
  border-color: #80bdff;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.form-control::-webkit-input-placeholder {
  color: #6c757d;
  opacity: 1;
}

.form-control::-moz-placeholder {
  color: #6c757d;
  opacity: 1;
}

.form-control:-ms-input-placeholder {
  color: #6c757d;
  opacity: 1;
}

.form-control::-ms-input-placeholder {
  color: #6c757d;
  opacity: 1;
}

.form-control::placeholder {
  color: #6c757d;
  opacity: 1;
}

textarea.form-control {
  height: auto;
}

.form-group {
  margin-bottom: 1rem;
}

.btn {
  display: block;
  width: 100%;
  font-weight: 700;
  color: #E55812;
  text-align: center;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: transparent;
  border: 2px solid #E55812;
  padding: 0.375rem 0.75rem;
  margin: 0.75rem 0;
  font-size: 1.2rem;
  line-height: 1.5;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

@media (prefers-reduced-motion: reduce) {
  .btn {
    transition: none;
  }
}

.btn:hover {
  color: #212529;
  text-decoration: none;
}

.btn:focus, .btn.focus {
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.input-group {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-align: stretch;
  align-items: stretch;
  width: 100%;
}

.input-group > .form-control {
  position: relative;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  width: 1%;
  margin-bottom: 0;
}

.card {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: transparent;
  background-clip: border-box;
  border: none;
  border-radius: 0.25rem;
}

.card-body {
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  padding: 0 1.25rem;
}

.card-title {
  margin-bottom: 0.75rem;
}

.card-text:last-child {
  margin-bottom: 0;
}

.card-header {
  padding: 0.75rem 1.25rem;
  margin-bottom: 0;
}

.card-header:first-child {
  border-radius: calc(0.25rem - 1px) calc(0.25rem - 1px) 0 0;
}

.card-footer {
  padding: 0 1.25rem;
}

.card-footer:last-child {
  border-radius: 0 0 calc(0.25rem - 1px) calc(0.25rem - 1px);
}

.card-deck {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
}

.card-deck .card {
  margin-bottom: 15px;
}


@media (min-width: 576px) {
  .card-deck {
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    margin-right: -15px;
    margin-left: -15px;
  }
  .card-deck .card {
    display: -ms-flexbox;
    display: flex;
    -ms-flex: 1 0 0%;
    flex: 1 0 0%;
    -ms-flex-direction: column;
    flex-direction: column;
    margin-right: 15px;
    margin-bottom: 0;
    margin-left: 15px;
    border: 1px solid rgba(0, 0, 0, 0.125);
  }
}

.jumbotron {
  padding: 2rem 1rem;
  margin-top: 0;
  margin-bottom: 0;
  background-size: cover;
  border-radius: 0.3rem;
  height: 50vh;
}

@media (min-width: 576px) {
  .jumbotron {
    padding: 4rem 2rem;
    height: 80vh;
  }
}

.jumbotron-fluid {
  padding-right: 0;
  padding-left: 0;
  border-radius: 0;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

.sr-only-focusable:active, .sr-only-focusable:focus {
  position: static;
  width: auto;
  height: auto;
  overflow: visible;
  clip: auto;
  white-space: normal;
}

.menu-item a{
display:inline;
border-bottom:none;
font-weight:normal;
color:#fff;
}
.collapse:not(.show){
display:none;
}
.nav{
display:-ms-flexbox;
display:flex;
-ms-flex-wrap:wrap;
flex-wrap:wrap;
padding-left:0;
margin-bottom:0;
list-style:none;
}
.menu-item{
display:block;
padding:0.5rem 1rem;
font-weight:normal;
}
.menu-item:hover,.menu-item:focus{
text-decoration:none;
color:#fff;
}
.navbar{
position:absolute;
display:-ms-flexbox;
display:flex;
-ms-flex-wrap:wrap;
flex-wrap:wrap;
-ms-flex-align:center;
align-items:center;
-ms-flex-pack:justify;
justify-content:space-between;
padding:0.5rem 1rem;
top:0;
right:0;
left:0;
z-index:1030;
background-color:#E55812;
font-size:1rem;
}
.navbar > .container{
display:-ms-flexbox;
display:flex;
-ms-flex-wrap:wrap;
flex-wrap:wrap;
-ms-flex-align:center;
align-items:center;
-ms-flex-pack:justify;
justify-content:space-between;
}
.navbar-nav{
display:-ms-flexbox;
display:flex;
-ms-flex-direction:column;
flex-direction:column;
padding-left:0;
margin-bottom:0;
list-style:none;
}
.navbar-right{
margin-left:auto;
list-style:none;
}
.navbar-right li{
display:inline;
margin-left:15px;
}
.navbar-nav .menu-item{
padding-right:0;
padding-left:0;
}
.navbar-collapse{
-ms-flex-preferred-size:100%;
flex-basis:100%;
-ms-flex-positive:1;
flex-grow:1;
-ms-flex-align:center;
align-items:center;
}
.navbar-collapse.in{
height:100vh;
}
.navbar-toggle{
float:right;
padding:0.25rem 0.75rem;
font-size:1.25rem;
line-height:1;
background-color:transparent;
border:1px solid transparent;
border-radius:0.25rem;
-webkit-transition:opacity 0.2s cubic-bezier(0.645, 0.045, 0.355, 1), -webkit-transform 0.4s cubic-bezier(0.4, 0.01, 0.165, 0.99);
transition:opacity 0.2s cubic-bezier(0.645, 0.045, 0.355, 1), -webkit-transform 0.4s cubic-bezier(0.4, 0.01, 0.165, 0.99);
transition:opacity 0.2s cubic-bezier(0.645, 0.045, 0.355, 1), transform 0.4s cubic-bezier(0.4, 0.01, 0.165, 0.99);
transition:opacity 0.2s cubic-bezier(0.645, 0.045, 0.355, 1), transform 0.4s cubic-bezier(0.4, 0.01, 0.165, 0.99), -webkit-transform 0.4s cubic-bezier(0.4, 0.01, 0.165, 0.99);
-webkit-tap-highlight-color:transparent;
margin-left:auto;
-webkit-transform:rotate(90deg);
-ms-transform:rotate(90deg);
transform:rotate(90deg);
}
.navbar-toggle.collapsed{
-webkit-transform:rotate(0);
-ms-transform:rotate(0);
transform:rotate(0);
}
.navbar-toggle:focus,.navbar-toggle:active{
outline:0;
}
.navbar-toggle:hover,.navbar-toggle:focus{
text-decoration:none;
}
.navbar-toggle:not(:disabled):not(.disabled){
cursor:pointer;
}
.navbar-toggle span{
display:block;
background-color:#fff;
height:1px;
width:1.1rem;
left:0;
opacity:1;
}
.navbar-toggle.collapsed span:nth-child(1){
margin-top:4px;
margin-bottom:6px;
-webkit-transition:-webkit-transform 0.25s cubic-bezier(0.4, 0.01, 0.165, 0.99);
transition:-webkit-transform 0.25s cubic-bezier(0.4, 0.01, 0.165, 0.99);
transition:transform 0.25s cubic-bezier(0.4, 0.01, 0.165, 0.99);
transition:transform 0.25s cubic-bezier(0.4, 0.01, 0.165, 0.99), -webkit-transform 0.25s cubic-bezier(0.4, 0.01, 0.165, 0.99);
-webkit-transform:rotate(0);
-ms-transform:rotate(0);
transform:rotate(0);
z-index:4;
}
.navbar-toggle.collapsed span:nth-child(2){
margin-top:6px;
margin-bottom:4px;
-webkit-transition:-webkit-transform 0.25s cubic-bezier(0.4, 0.01, 0.165, 0.99);
transition:-webkit-transform 0.25s cubic-bezier(0.4, 0.01, 0.165, 0.99);
transition:transform 0.25s cubic-bezier(0.4, 0.01, 0.165, 0.99);
transition:transform 0.25s cubic-bezier(0.4, 0.01, 0.165, 0.99), -webkit-transform 0.25s cubic-bezier(0.4, 0.01, 0.165, 0.99);
-webkit-transform:rotate(0);
-ms-transform:rotate(0);transform:rotate(0);
}
.navbar-toggle span:nth-child(1){
-webkit-transition:-webkit-transform 0.25s 0.2s cubic-bezier(0.4, 0.01, 0.165, 0.99);
transition:-webkit-transform 0.25s 0.2s cubic-bezier(0.4, 0.01, 0.165, 0.99);
transition:transform 0.25s 0.2s cubic-bezier(0.4, 0.01, 0.165, 0.99);
transition:transform 0.25s 0.2s cubic-bezier(0.4, 0.01, 0.165, 0.99), -webkit-transform 0.25s 0.2s cubic-bezier(0.4, 0.01, 0.165, 0.99);
-webkit-transform:rotate(45deg);
-ms-transform:rotate(45deg);
transform:rotate(45deg);
-ms-transform-origin:90% 920%;
-webkit-transform-origin:90% 920%;
transform-origin:90% 920%;
}
.navbar-toggle span:nth-child(2){
-webkit-transition:-webkit-transform 0.25s 0.2s cubic-bezier(0.4, 0.01, 0.165, 0.99);
transition:-webkit-transform 0.25s 0.2s cubic-bezier(0.4, 0.01, 0.165, 0.99);
transition:transform 0.25s 0.2s cubic-bezier(0.4, 0.01, 0.165, 0.99);transition:transform 0.25s 0.2s cubic-bezier(0.4, 0.01, 0.165, 0.99), -webkit-transform 0.25s 0.2s cubic-bezier(0.4, 0.01, 0.165, 0.99);-webkit-transform:rotate(-45deg);
-ms-transform:rotate(-45deg);
transform:rotate(-45deg);
-ms-transform-origin:50% -1100%;
-webkit-transform-origin:50% -1100%;
transform-origin:50% -1100%;
}
.collapse{
display:none;
}
.collapse.in{
display:block;
}
.collapsing{
position:relative;
height:0;
overflow:hidden;
-webkit-transition-property:height, visibility;
-o-transition-property:height, visibility;
transition-property:height, visibility;
-webkit-transition-duration:.35s;
-o-transition-duration:.35s;
transition-duration:.35s;
-webkit-transition-timing-function:ease;
-o-transition-timing-function:ease;
transition-timing-function:ease;
}
@media (min-width:768px){
.navbar{
-ms-flex-flow:row nowrap;
flex-flow:row nowrap;
-ms-flex-pack:start;
justify-content:flex-start;
}
.navbar .navbar-nav{
-ms-flex-direction:row;
flex-direction:row;
}
.navbar .navbar-nav .menu-item{
padding-right:0.5rem;
padding-left:0.5rem;
}
.navbar > .container{
-ms-flex-wrap:nowrap;
flex-wrap:nowrap;
}
.navbar .navbar-collapse{
display:-ms-flexbox !important;
display:flex !important;
-ms-flex-preferred-size:auto;
flex-basis:auto;
}
.navbar .navbar-toggle{
display:none;
}
}
@media (max-width:767.98px){
.navbar > .container{
padding-right:0;
padding-left:0;
}
.navbar{
background-color:#E55812;
}
}

.ad2hs-prompt, .share-button {
display: none;
}

.ad2hs-prompt button {
background-color: #fff;
color: #e55812;
border-color: #fff;
}

.share-button {
background-image: url('/img/3EB5348C-CF85-45B4-9588-E2BA263BFDB8.png');
background-size: cover;
width: 50px;
height: 50px;
padding: 25px;
border: none;
margin: 0 0 15px 15px;
float: right;
line-height: 50px;
}

.share-button::after {
content: 'Share';
display: block;
margin-top: 50px;
}
