{{ define "main" }}

{{ partial "jumbotron" (dict "imageUrl" .Params.image "title" .Title "subtitle" .Params.subtitle) }}

<main>
  <section class="container background-eggshell">

{{ partial "short-text" .Params.blurb}}
    
  </section>

<section class="container">
  <div class="row">

{{ partial "2-up" .Params }}

{{ partial "text-and-image" (dict "heading" .Params.donate.heading "text" .Params.donate.text "buttonText" "Donate now" "buttonLink" "/donate") }}
    
  </div>
</section>

<section class="container background-eggshell">
    
{{ partial "blog" . }}
  
</section>

</main>

{{ end }}
